.container {
  display: flex;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;

  .page-header &,
  .main-part & {
    display: flex;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    align-items: center;
  }

  .team & {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }

  .regular-clients & {
    display: flex;
    flex-direction: column;
  }

  .filter-menu & {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .footer & {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .regular-clients & {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
