.site-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  & .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts-nav {
  display: flex;
  margin-left: auto;

  align-items: center;
  justify-content: center;
  & .contacts-nav-item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts-nav-icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contacts-nav-icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.nav-logo,
.footer-logo {
  font-family: Raleway;
  margin-right: 93px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-logo-style {
  color: #000000;
}

.nav-links {
  font-weight: 500;
  position: relative;
  display: block;
  font-size: 14px;
  padding-bottom: 32px;
  padding-top: 32px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
}

.nav-logo,
.footer-logo:focus,
.nav-logo,
.footer-logo:hover {
  color: #188ce8;
}

.contacts-nav-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--second-level-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  .page-header & {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts-nav-icon-mail {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .contacts-nav-info:hover &,
  .contacts-nav-info:focus & {
    fill: var(--accent-color);
  }
}

.contacts-nav-icon-tel {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .contacts-nav-info:hover &,
  .contact-nav-info:focus & {
    fill: var(--accent-color);
  }
}
